body {
    font-family: 'Comfortaa', cursive;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.title {
    position: absolute;
    transition: ease;
    opacity: 0;
    z-index: 100;
    font-size: 60px;
    font-weight: bold;
    color: white;
    top: 50px;
    left: 100px;
    text-transform: uppercase;
    background-color: rgba(237, 94, 29, 0.7);
    padding: .2em;
    border-radius: 30px;
}

#map {
    width: 100%;
    height: 100%;
}

.search-container {
    position: absolute;
    transition: ease;
    opacity: 0;
    z-index: 10000;
    top: 180px;
    left: 100px;
    width: 400px;
    height: 60px;
    background-color: rgba(158, 144, 144, 0.9);
    border-radius: 30px;
    border: 1px solid white;
    display: flex;
}

.search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}

#zip-code-input {
    width: 100%;
    background-color: transparent;
    font-size: 25px;
    border: none;
    color: white;
}

#zip-code-input:focus {
    outline: none;
}

.searchIcon {
    color: white;
    font-size: 25px;
}

.searchIcon:hover {
    color: rgb(237, 94, 29);
}

.stores-list-container {
    width: 400px;
    opacity: 0;
    position: absolute;
    background-color: white;
    z-index: 1000;
    left: 100px;
    top: 270px;
    bottom: 20px;
    border-radius: 30px;
    -webkit-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.35);
    display: flex;
    overflow-y: hidden;
    /* padding-bottom: 30px; */
}

.stores-list {
    flex-grow: 1;
    padding: 1em;
    overflow-y: scroll;
}

.store-container {
    /* margin: 1em; */
    border-bottom: 1px solid #979797;
    /* border-radius: 10px; */
}

.store-container:hover {
    background-color: rgba(252, 165, 125, 0.6);
    transition: all 0.25s ease-in;
    cursor: pointer;
    /* margin: 1em; */
}

::placeholder {
    color: white;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(237, 94, 29);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.store-address {
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #454545;
    padding: .3em;
    /* margin: 10px; */
}

.number {
    background-color: #454545;
    display: flex;
    border-radius: 50px;
    border: 1px solid #454545;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
}

.number p {
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 0.6em;
}

.store-address p {
    margin: 0;
    margin: .45em 0 .20em 0;
}

.store-phone-number {
    color: #979797;
    /* margin: 0 0 0 .70em; */
    padding: 0 0 1em 1em;
    font-size: 0.9rem;
    /* border-bottom: 1px solid #979797; */
}

.no-border {
    border: none;
}

.title-map {
    font-size: 1.2rem;
    margin: 1em 0 0 0;
    font-weight: bold;
}

.link-google a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

.link-google a:hover {
    color: rgb(237, 94, 29);
    ;
}

.open-untill {
    color: grey;
    margin: 0 0 1em 0;
    padding: .5em 0;
    border-bottom: 1px solid rgb(201, 198, 198);
}

.marker-text {
    min-width: 200px;
    max-width: 300px;
}

.fa-location-arrow, .fa-phone-alt {
    color: white;
    font-size: .8rem;
    padding: 6px;
    margin-right: .3em;
    background-color: teal;
    border-radius: 50%;
    text-align: center;
}